.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8.5rem 1rem 10rem 4rem;    /* top right bottom left */
    min-height: 100vh;
}

.firstRow {
    display: grid;
    padding: 5vh 4rem 0 4rem;
    grid-template-columns: repeat(2, minmax(50%, auto));
    max-width: 100%;
    width: var(--max-width);
}

.firstRow h1 {
    font-size: 3rem;
    border-bottom: solid 5px white;
}

.firstRow h2 {
    padding-top: 2vh;
    font-size: 2rem;
    padding-right: 2vh;
}

.firstRow button {
    background: none;
    border: none;
}

.downArrow {
    margin-top: 10vh;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .9;
    }
}

.profPic {
    border-radius: 9px;
    align-items: center;
}

.container {
    border: 2px solid #96c0e8f4;
    display: flex;
    align-items: center;
    /* Center items vertically */
    width: 67%;
    margin-top: 17vh;
    background-color: rgb(255, 255, 255);
}

.container p {
    font-size: 1.75vw;
    padding: .25vw;
    margin: 40px;
}

.verticalLine {
    border-left: 2px;
    height: 100%;
}

.img {
    margin: 0px;
    padding: 0px;
}
