.main {
    padding: 6rem;
    min-height: 100vh;
    display: flex;
}

.text {
    flex: 1;
    position: fixed;
    height: 100%;
    overflow: hidden;   /* Disable scrolling in the fixed section */
}

.logoBox {
    flex: 1;
    overflow-y: auto;    /* Enable vertical scrolling in the scrollable section */
    padding: 1rem;    /* Add padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.pageTitle {
    padding-top: 3.5vh;
    margin-bottom: 5vh;
    font-size: 3.25rem;
    border-bottom: 5px solid white;
}

.container {
    padding: 4vh;
}

.container h3 {

}

.logo {
    padding: 2rem;
}

.logo:hover {
  filter: opacity(50%);; /* Invert the colors to create a hover effect */
}
