.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem 4rem 0 4rem;  /* top right bottom left */
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* allow wrapping */
    /* Get rid of automatic list bullet points. */
    list-style: none;
}

/* When the screen is narrow, stack vertically */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Adjust gap for vertical stacking */
  }
}

.card {
    display: flex;
    justify-content: center;
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    position: relative;
    height: 275px;
    width: 275px;
    /* overflow: hidden; */
    margin: 15px;
}

.cloud {
    position: absolute;
    z-index: 1;
    top: -20%;
}

.card span, .card h2 {
    z-index: 2;
    position: relative;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
    top: 87%;
    white-space: nowrap;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}
