.navbar {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: solid 4px white;
    transition: background-color .15s ease;
    z-index: 2;
}

.scrolled {
    background-color: rgb(255,
        255,
        255);
    border-bottom: solid 4px rgb(140, 180, 246);
}

.linkContainer {
    float: left;
}

.link {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover:not(.active) {
    background-color: rgb(140, 180, 246);
    color: white;
}

.active {
    color: rgb(140, 180, 246);
}

.logo {
    float: right;
    margin: 12px;   /* top right bottom left */
}

.img {
    align-items: center;
    justify-content: center;
}


