.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 6rem 3rem 6rem;
  min-height: 100vh;
  overflow: hidden;
}

.main h1 {
  font-size: 2.25rem;
  text-align: center;
}

.main p {
  font-size: 1.15rem;
  margin-top: 5rem;
  padding-bottom: 4rem;
  animation: fadeIn 3s;
}

/* When the screen is narrow, shrink gaps */
@media (max-width: 768px) {
  .main {
    padding: 3rem 3.5rem 2rem 3.5rem;
  }
  .main p {
    padding-bottom: .5rem;
    margin-top: 2.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Mobile */
@media (max-width: 700px) {
  .center {
    padding: 2rem 0 2rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
